/* @import url('https://fonts.googleapis.com/css?family=Rubik+Glitch+Pop&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple&display=swap');

/* 'Rubik Glitch Pop' */

* {
    box-sizing: border-box;
}

body {
    /* width: 100vw; */
    background-color: #fafad2;
}

header {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px #fad2d2;
}

h1 {
    font-family: Rancho, sans-serif;
    font-size: 42px;
    padding-left: 10px;
}
