/* @import url('https://fonts.googleapis.com/css?family=Rubik+Glitch+Pop&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple&display=swap');

/* 'Rubik Glitch Pop' */

* {
    box-sizing: border-box;
}

body {
    /* width: 100vw; */
    background-color: #fafad2;
}

header {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px #fad2d2;
}

h1 {
    font-family: Rancho, sans-serif;
    font-size: 42px;
    padding-left: 10px;
}

button {
    padding: 5px;
    border-radius: 11px;
    border: 2px solid #fad2d2;
    background-color: #fafad280;
}

.favorites-data button {
    background-color: #fad2d2;
    border: 1px solid #d2fafa;
}

section.button-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

img {
    border-radius: 5px;
}

/* Elements that'll be affected by the display-more-data shift */
main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 30px;
}

main.display-more-data {
    grid-template-columns: 1fr 2fr;
}

.more-info-container,
.render-favorites,
.render-favorites.display-more-data div:nth-child(1),
.favorites-data.no-data {
    display: none;
}

.more-info-container.display-more-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.images-container.display-more-data {
    flex-direction: column;
    gap: 10px;
}

.render-favorites.display-more-data {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
/* End of those elements */

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.name-image {
    min-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 8px 1px #778899b3;
    border-radius: 3px;
}

.name-image img {
    width: 150px;
}

.dog-name,
.more-info-icon {
    text-align: center;
}

.more-info-icon i,
#close-icon,
#like-icon {
    cursor: pointer;
}

/* more-info-container area */
/* Close more-info-container icon */
.more-info-container p:first-child {
    /* text-align: right; */
    align-self: flex-end;
}

#close-icon:hover {
    color: #ff0000;
}

.more-info-container img {
    width: 400px;
}

#like-icon.add-to-favorites {
    color: #ff0000;
}

/* Style the favorites area */
.show-favorites {
    width: 100%;
    position: relative;
    padding: 20px;
}

#favorites-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Render-favorites container when there are no favorites to show */
.render-favorites.no-favorites {
    display: block;
}

.render-favorites.no-favorites div:nth-child(2),
.render-favorites.no-favorites div:nth-child(3),
.render-favorites.no-favorites div:nth-child(4) {
    display: none;
}

.render-favorites.no-favorites div:nth-child(1) p {
    text-align: center;
}
/* End of that condition */

.favorites-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.favorites-data img {
    width: 40%;
}
