/* @import url('https://fonts.googleapis.com/css?family=Rubik+Glitch+Pop&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple&display=swap');

/* 'Rubik Glitch Pop' */

* {
    box-sizing: border-box;
}

body {
    /* width: 100vw; */
    background-color: #fafad2;
}

header {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px #fad2d2;
}

h1 {
    font-family: Rancho, sans-serif;
    font-size: 42px;
    padding-left: 10px;
}

/* Elements that'll be affected by the display-more-data shift */
main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
}

main.display-more-data {
    grid-template-columns: 1fr 2fr;
}

.more-info-container {
    display: none;
}

.more-info-container.display-more-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images-container {
    display: flex;
    /* gap: 10px; */
    justify-content: space-evenly;
}

.images-container.display-more-data {
    flex-direction: column;
}
/* End of those elements */

.data {
    display: flex;
    flex-direction: column;
}

.name-image img {
    width: 150px;
}

.dog-name,
.more-info-icon {
    text-align: center;
}

.more-info-icon i,
#close-icon,
#like-icon {
    cursor: pointer;
}

/* Close more info container icon */
.more-info-container p:first-child {
    /* text-align: right; */
    align-self: flex-end;
}

#close-icon:hover {
    color: #ff0000;
}

.more-info-container img {
    width: 400px;
}

#like-icon.add-to-favorites {
    color: #ff0000;
}
